html, body{
  font-family:monospace;
}
.u-hide{
  display:none;
}
.u-show{
  display:block;
}
.row {
  display:block;
  clear:both;
}
td {
  padding: 10px;
}

tr.highlight {
  background: #efefef;
}

label, input, textarea {
  display:block;
  margin:10px;
  padding:0;
}
.question {
  display: flex;
}
.answer {
  justify-content: flex-start;
  display:inline-block;
  width:300px;
  margin: 2px;
}
.square {
  display:block;
  width:300px;
  height:300px;
  background-position: center;
  background-size: cover;
}
